@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: "Beatrice";
  src: local("Beatrice"), url("./fonts/Beatrice.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Beatrice Bold";
  src: local("Beatrice Bold"), url("./fonts/Beatrice_Bold.ttf") format("truetype");
  font-weight: 800;
}

/* variables */
:root {
  --heading-color: #444;
  --text-color: #999;
  --primary-color: #8d69f1;
  --highlight-color: #d13267;
  --bg-color: #f4f4f4;
}

/* base styles */
body {
  font-family: "Beatrice", Poppins, sans-serif;
  margin: 0;
  font-size: 0.9em;
  background: var(--bg-color);
}

h1,
h2,
h3,
h4,
.logotext {
  font-family: "Beatrice Bold", Poppins, sans-serif;
  letter-spacing: -0.2px;
}
ul,
li,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}

/* layout */
.page-title {
  font-size: 1em;
  color: var(--heading-color);
  display: inline-block;
  letter-spacing: -0.2px;
}
.btn {
  background: #fff;
  padding: 8px 12px;
  border-radius: 4px;
  color: var(--primary-color);
  cursor: pointer;
  font-family: "Beatrice", Poppins, sans-serif;
  font-size: 0.9em;
  border: 1px solid var(--primary-color);
}
.btn:hover {
  color: #fff;
  background-color: var(--primary-color);
}

/* forms */
label {
  display: block;
  margin: 24px auto;
}
label span {
  display: block;
  margin-bottom: 6px;
}
input,
textarea {
  padding: 8px 6px;
  font-size: 0.9em;
  color: #777;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-family: "Beatrice", sans-serif;
}
textarea {
  min-height: 160px;
}
.error {
  color: rgb(161, 3, 3);
  background: rgb(252, 204, 212);
  border: 1px solid #fab0b0;
  border-radius: 4px;
  padding: 8px;
  margin: 10px 0;
  font-size: 0.8em;
}

input:focus,
textarea:focus,
select:focus {
  outline-color: var(--primary-color);
}
